:root {
  --background-base: #fff;
  --background1: #fff;
  --background2: #f5f5f5;
  --background3: #ebebeb;
  --background4: #e0e0e0;
  --background-invert: #212121;
  --background-altbase: #f5f5f5;
  --accent1: #121212;
  --accent2: #4a4a4a;
  --accent3: #898989;
  --accent4: silver;
  --accent-invert: #fff;
  --border1: grey;
  --border2: silver;
  --border3: #f1f1f1;
  --primary: #00bcd4;
  --emphasize: #ff9800;
  --destructive: #f44336;
  --overlay: rgba(33, 33, 33, 0.08);
  --bg-page1: #f8f9fa;
  --bg-page2: #fff;
  --bg-element1: #fff;
  --bg-element2: #f8f9fa;
  --bg-element3: #e9ecef;
  --bg-element4: #dee2e6;
  --bg-element5: #212529;
  --bg-element6: #343a40;
  --bg-element7: #fafafa;
  --bg-element8: #fbfdfc;
  --bg-invert: #1e1e1e;
  --bg-inline-code: #e9ecef;
  --bg-tag: #f8f9fa;
  --text1: #212529;
  --text2: #495057;
  --text3: #868e96;
  --text4: #ced4da;
  --border1: #343a40;
  --border2: #adb5bd;
  --border3: #dee2e6;
  --border4: #f1f3f5;
  --primary1: #12b886;
  --primary2: #20c997;
  --destructive1: #ff6b6b;
  --destructive2: #ff8787;
  --button-text: #fff;
  --slight-layer: rgba(0, 0, 0, 0.05);
  --opaque-layer: hsla(0, 0%, 98%, 0.85);
  --editor-footer: #fff;
  --prism-bg: #fbfcfd;
  --prism-default-text: #24292e;
  --prism-selection-bg: rgba(0, 0, 0, 0.15);
  --prism-code-block-bg: #fbfcfd;
  --prism-code-1: #969896;
  --prism-code-2: #24292e;
  --prism-code-3: #a626a4;
  --prism-code-4: #63a35c;
  --prism-code-5: #0184bc;
  --prism-code-6: #50a14f;
  --prism-code-7: #a626a4;
  --prism-code-8: #005cc5;
  --prism-code-9: #a626a4;
  --prism-line-number: #585c63;
}
